{% extends "course_management_base.html" %}

{% block content %}
<div class="container">
    <!-- 表单 -->

    <!-- 课程信息列表 -->
    <ul class="list-group">
        <li class="list-group-item">课程名：{{ course.0 }}</li>
        <li class="list-group-item">课程号：{{ course.1 }}</li>
        <li class="list-group-item">课堂号：{{ course.2 }}</li>
        <li class="list-group-item">学时：{{ course.3 }}</li>
        <li class="list-group-item">学分：{{ course.4 }}</li>
        <li class="list-group-item">状态：
            <form method="post" class="form-inline mb-3">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <input type="submit" value="提交" class="btn btn-primary ml-2">
            </form>
        </li>
        <li class="list-group-item">开课学院：{{ course.5 }}</li>
        <li class="list-group-item">授课教师：{{ course.6 }}</li>
        <li class="list-group-item">已选人数/最大人数：{{ course.9 }} / {{ course.10 }}</li>
    </ul>
</div>
{% endblock %}